<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">


	<!-- RequestFactory -->
  <servlet>
    <servlet-name>requestFactoryServlet</servlet-name>
    <servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>
    <init-param>
      <param-name>symbolMapsDirectory</param-name>
      <!-- You'll need to compile with -extras and move the symbolMaps directory
           to this location if you want stack trace deobfuscation to work -->
      <param-value>WEB-INF/classes/symbolMaps/</param-value>
    </init-param>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>requestFactoryServlet</servlet-name>
    <url-pattern>/gwtRequest</url-pattern>
  </servlet-mapping>
  <!-- End of RequestFactory -->

  <!-- SmartGwt Servlets -->
  <servlet>
    <servlet-name>personServlet</servlet-name>
    <servlet-class>com.sopovs.moradanen.smartgwt.server.PersonGwtRpcServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>personServlet</servlet-name>
    <url-pattern>/smarttest/personData</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>sectorServlet</servlet-name>
    <servlet-class>com.sopovs.moradanen.smartgwt.server.SectorGwtRpcServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>sectorServlet</servlet-name>
    <url-pattern>/smarttest/sectorData</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>companyServlet</servlet-name>
    <servlet-class>com.sopovs.moradanen.smartgwt.server.CompanyGwtRpcServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>companyServlet</servlet-name>
    <url-pattern>/smarttest/companyData</url-pattern>
  </servlet-mapping>
  <!-- End of SmartGwt Servlets -->
  
  <!-- Vaadin -->
  <servlet>
  	<servlet-name>Vaadin Application</servlet-name>
  	<servlet-class>
  	  com.vaadin.terminal.gwt.server.GAEApplicationServlet
  	</servlet-class>
  	<init-param>
      <description>Vaadin application class to start</description>
      <param-name>application</param-name>
      <param-value>
        com.sopovs.moradanen.vaadin.MyprojectApplication
      </param-value>
 </init-param>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>Vaadin Application</servlet-name>
 	<url-pattern>/VAADIN/*</url-pattern>
 </servlet-mapping>
 <!-- End of Vaadin -->
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
