<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>personServlet</servlet-name>
    <servlet-class>com.sopovs.moradanen.smartgwt.server.PersonGwtRpcServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>personServlet</servlet-name>
    <url-pattern>/smarttest/personData</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>sectorServlet</servlet-name>
    <servlet-class>com.sopovs.moradanen.smartgwt.server.SectorGwtRpcServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>sectorServlet</servlet-name>
    <url-pattern>/smarttest/sectorData</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>companyServlet</servlet-name>
    <servlet-class>com.sopovs.moradanen.smartgwt.server.CompanyGwtRpcServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>companyServlet</servlet-name>
    <url-pattern>/smarttest/companyData</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SmartTest.html</welcome-file>
  </welcome-file-list>

</web-app>
